#Home {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: calc(10% - 20px);
  padding-right: calc(10% - 20px);

  .text-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    .title{
      font-size: var(--title);
      font-family: Pacifico;
    }
    .desc{
      font-size: var(--text);
      font-family: Nunito Sans;
      font-weight: 500; 
    }
    .links-box{
      width: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .contactLink{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #A6BEFA;
        font-size: var(--text);
      }
      .contactLink:hover{
        cursor: pointer;
      }
    }
  }
  .img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    img{
      height: 26em;
      border-radius: 100%;
    }
  }
}


@media (max-width: 900px) {
  #Home {
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
    .text-box{
      width: 90%;
      .links-box{
        width: 100%;
      }
    }
    .img-box{
      img{
        height: 20em;
      }
    }
  }
}