.logo{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    color: #FFFFFF;
    text-align: right;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-image: url(../../public/homeBack.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
    padding-top: 10px;

    .Textbox {
        display: inline;
        width: 45%;
        font-family: 'Inter';
        font-weight: 300;
        font-size: 2.25vw;
        color: #FFFFFF;
        overflow: hidden; /* adicionado para esconder o texto excedente */
        span {
            display: inline;
            overflow: hidden;
            border-right: .05em solid #C88981;
            white-space: nowrap;
            color: #C88981;
            margin: 0 auto;
            width: calc(1.5ch * 40);
            animation:
                typing 3.5s infinite,
                blink-caret .5s step-end infinite;
            animation-fill-mode: forwards !important;
        }
    }

    .boxmouse{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        scale: 0.8;

        .mouse{
            fill-rule:evenodd;
            clip-rule:evenodd;
            stroke-linecap:round;
            stroke-linejoin:round;
            stroke-miterlimit:1.5;
            fill: none;

            .scroll{
                fill:none;
                stroke:#fff;
                stroke-width:20px;
                animation: scroll ease 2.5s infinite;
            }
        
            .borderMouse{
                fill:none;
                stroke:#fff;
                stroke-width:20px;
            }
        }
    }
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

@keyframes typing {
    from { width: 0 }
    to { width: calc(15.25ch) }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #C88981; }
}