@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&family=Pacifico&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

#root{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 5em;
}
