@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Pacifico&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: #2E2B2B;
  body{
    width: 100%;
    height: 100%;
    main{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
}
