.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(5% + 2rem);
  align-items: center;
  justify-content: space-between;
  padding-left: calc(20% - 2rem);
  padding-right: calc(20% - 2rem);
  .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;    
    .item{  
      text-decoration: none;  
      font-size: calc(12px + 0.6vw);
      font-family: 'Inter', sans-serif;
      font-weight: 300;
      color: #FFFFFF;
    }
  }
  .logo{
    p{
      font-size: calc(18px + 0.6vw);
      font-family: 'Pacifico', cursive;
      color: #FFFFFF;
    }
  }
}
