#Navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  gap: calc(10% - 10px);
  background-color: #F8F5F5;
  .links{
    position: relative;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  .links::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #A6BEFA;
    transition: width 0.3s, left 0.3s;
    transform: translateX(-50%);
  }

  .links:hover::after {
    width: 100%;
  }
}
