.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(5% + 2rem);
  align-items: center;
  justify-content: space-between;
  padding-left: calc(20% - 2rem);
  padding-right: calc(20% - 2rem);
  .links{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(50% + 2rem);    

    .item{  
      text-decoration: none;  
      font-size: calc(16px + 0.6vw);
      color: #FFFFFF;
    }
  }

  .logo{
    p{
      
    }
  }
}
